<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sams Club Portal | Create User</title>
</head>
<body>
    <h1 style="font-size: 20px; font-family: sans-serif; color:navy;">Crear usuario nuevo</h1>
    <h2 style="font-size: 15px; font-family: sans-serif; color:black;"> Pon tus datos para crear un usuario nuevo</h2>
    <form action = "" method = "post">
        {% csrf_token %}
        <table>
            <tr> 
                <td style="font-size: 15px; font-family: sans-serif" >Nombre Usuario</td>
                <td> {{ user_form.username }} </td>
            </tr>
            <tr> 
                <td style="font-size: 15px; font-family: sans-serif" >Email</td>
                <td> {{ user_form.email}} </td>
            </tr>
            <tr> 
                <td style="font-size: 15px; font-family: sans-serif" >Nombre</td>
                <td> {{ user_form.first_name }} </td>
            </tr>
            <tr> 
                <td style="font-size: 15px; font-family: sans-serif" >Apellido</td>
                <td> {{ user_form.last_name }} </td>
            </tr>
            <tr> 
                <td style="font-size: 15px; font-family: sans-serif" >Contraseña</td>
                <td> {{ user_form.password1}} </td>
            </tr>
            <tr> 
                <td style="font-size: 15px; font-family: sans-serif" >Repetir Constraseña</td>
                <td> {{ user_form.password2}} </td>
            </tr>
            <tr> 
                <td style="font-size: 15px; font-family: sans-serif" >Tipo de Usuario</td>
                <td> {{ user_profile_form.user_type}} </td>
            </tr>
        </table>
        <br>
        <button type = "submit">Create User</button>
    </form>
    <br>
    <a style = "font-family: sans-serif; font-size: smaller;" href="{% url 'login' %} "> Regresar a login </a>
</body>
</html>