<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sams Club Portal | Home </title>
</head>
<body>
    <h1 style="font-size: 20px; font-family: sans-serif; color:navy;">Home Screen</h1>
    <h2 style="font-size: 20px; font-family: sans-serif; color:navy;"> Menu Principal </h2>
    <table>
        <tr>
            <th style = "font-family: sans-serif;" > Escoge las opciones </th>
        </tr>
        <tr>
            <td> <a style= "font-family: sans-serif;" href = "vendor/" > Proveedores </a></td>
        </tr>
    </table>
    <br>
    <a style = "font-family: sans-serif;" href="{% url 'logout' %}"> Logout </a>
 </body>
</html>